name: Uffizzi Cluster Quickstart

on:
  pull_request:
    types: [opened,reopened,synchronize,closed]

permissions:
  id-token: write

jobs:
  uffizzi:

    name: Uffizzi

    runs-on: ubuntu-latest

    steps:

      - name: Create Uffizzi Cluster
        env:
          UFFIZZI_SERVER: https://pr-1074-deployment-29388-uffizzi-platform.app.uffizzi.com/
          UFFIZZI_USER: admin@uffizzi.com
          UFFIZZI_PASSWORD: ${{ secrets.uffizzi_password }}
          UFFIZZI_PROJECT: default
          UFFIZZI_IMAGE: uffizzi/cli:pr-224
          UFFIZZI_CLUSTER: pr-${{ github.event.number }}
        run: |
          # Identify if a Cluster for this PR exists.
          if docker run --rm \
            --env UFFIZZI_SERVER=${UFFIZZI_SERVER} \
            --env UFFIZZI_USER=${UFFIZZI_USER} \
            --env UFFIZZI_PASSWORD=${UFFIZZI_PASSWORD} \
            --env UFFIZZI_PROJECT=${UFFIZZI_PROJECT} \
            ${UFFIZZI_IMAGE} cluster list | grep --quiet ${UFFIZZI_CLUSTER}
          then
            # If it already exists, fetch the `kubeconfig` to connect to it.
            docker run --rm --env UFFIZZI_SERVER=${UFFIZZI_SERVER} \
              --env UFFIZZI_USER=${UFFIZZI_USER} \
              --env UFFIZZI_PASSWORD=${UFFIZZI_PASSWORD} \
              --env UFFIZZI_PROJECT=${UFFIZZI_PROJECT} \
              --mount type=bind,source="$(pwd)",target=/home \
            ${UFFIZZI_IMAGE} cluster update-kubeconfig \
              --name ${UFFIZZI_CLUSTER} --kubeconfig /home/kubeconfig
          else
            # Create the Cluster if it does not yet exist.
            docker run --rm --env UFFIZZI_SERVER=${UFFIZZI_SERVER} \
              --env UFFIZZI_USER=${UFFIZZI_USER} \
              --env UFFIZZI_PASSWORD=${UFFIZZI_PASSWORD} \
              --env UFFIZZI_PROJECT=${UFFIZZI_PROJECT} \
              --mount type=bind,source="$(pwd)",target=/home \
            ${UFFIZZI_IMAGE} cluster create \
              --name ${UFFIZZI_CLUSTER} --kubeconfig /home/kubeconfig
            # Create an Ingress for the `web` Service.
            kubectl create ingress web \
              --class=nginx \
              --rule="${UFFIZZI_CLUSTER}.quickstart.app.qa-gke.uffizzi.com:5000=vote:5000" \
              --rule="${UFFIZZI_CLUSTER}.quickstart.app.qa-gke.uffizzi.com:5001=result:5001" \
              --kubeconfig ./kubeconfig
          fi

